@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 15px;
}
html::-webkit-scrollbar-track {
  background: #ffffff;
}
html::-webkit-scrollbar-thumb {
  background: #000000;
}

.login-modal {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 100000000;
  top: 0;
  left: 0;
}
.login-modal .login-box {
  min-width: 300px;
  background-color: #ffffff;
  color: #000000;
  padding: 30px;
  text-align: center;
  position: relative;
}
.login-modal .login-box #close-login {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #000000;
  font-size: 22px;
  cursor: pointer;
}
.login-modal .login-box h5 {
  font-size: 30px;
}
.login-modal .login-box form {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
}
.login-modal .login-box form input {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 3px;
}
.login-modal .login-box button {
  display: block;
  margin-top: 30px;
  width: 100%;
  background-color: #c70000;
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  transition: 0.3s all;
}
.login-modal .login-box button:hover {
  color: #c70000;
  background-color: #ffffff;
  border: 2px solid #c70000;
}
.login-modal .login-box button i {
  margin-right: 10px;
}

body {
  width: 100vw;
  background-color: #000000;
  color: #ffffff;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}
body .container {
  width: 90%;
  max-width: 1300px;
}
body header {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  color: #000000;
  width: 100vw;
  padding: 0px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}
body header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}
body header .container .logo {
  margin-top: 15px;
}
body header .container .user {
  display: flex;
  align-items: center;
}
body header .container .user .login {
  cursor: pointer;
}
body header .container .user #burger-btn {
  color: #000000;
  font-size: 25px;
  cursor: pointer;
  margin-right: 20px;
}
body header .container .user i {
  color: #000000;
  margin-right: 10px;
}
body header .container .user #cart-btn {
  margin-left: 40px;
  background-color: transparent;
  text-transform: capitalize;
  font-size: 18px;
}
body header a {
  text-decoration: none;
  color: #000000;
  font-size: 25px;
}
body header a:hover {
  color: #ffffff;
}
body header img {
  width: 50px;
  margin-left: 10px;
}
body button {
  cursor: pointer;
  transition: 0.3s all;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 3px;
}
body button:hover {
  background-color: #c70000;
  color: #ffffff;
}

main {
  text-align: center;
}
main .menu {
  min-width: 300px;
  position: fixed;
  transition: 0.5s all;
}
main .menu h2 {
  font-size: 25px;
  text-align: left;
  margin-top: 15px;
}
main .menu ul {
  list-style: none;
  text-align: left;
  padding: 10px;
}
main .menu ul a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s all;
  text-transform: capitalize;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 20px;
}
main .menu ul a:hover {
  color: #c70000;
}
main .menu-desktop {
  top: 100px;
  left: 30px;
  z-index: 1000;
}
main .menu-mobile {
  width: 100vw;
  min-height: 100vh;
  top: 0;
  left: -110%;
  z-index: 10000;
  padding-left: 10px;
  background: rgba(0, 0, 0, 0.9);
}
main .menu-mobile.active {
  left: 0;
  top: 0;
  z-index: 10000;
  width: 100%;
  min-height: 100vh;
  padding-left: 20px;
}
main .menu-mobile i {
  position: absolute;
  right: 50px;
  top: 20px;
  font-size: 25px;
  cursor: pointer;
}
main h1 {
  font-size: 35px;
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
main .products-wrapper {
  max-width: 1200px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 80px;
  position: relative;
  top: 85px;
}
main .products-wrapper h3 {
  position: absolute;
  top: 10px;
  font-size: 35px;
  margin-top: 20px;
}
main .products-wrapper .box {
  width: 300px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 5px -5px 15px #767575;
}
main .products-wrapper .box .product-photo {
  height: 40%;
  border: 1px solid #767575;
  border-radius: 5px;
}
main .products-wrapper .box .product-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 5px;
}
main .products-wrapper .box .product-name {
  margin: 15px 0;
  text-transform: capitalize;
}
main .products-wrapper .box .product-description {
  margin-bottom: 10px;
}
main .products-wrapper .box .product-pices {
  font-size: 16px;
}
main .products-wrapper .box .product-order-details {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
main .products-wrapper .box .product-order-details .quantity-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  color: #000000;
  padding: 0 15px;
  min-width: 120px;
}
main .products-wrapper .box .product-order-details .quantity-buttons .quantity {
  margin: 0 10px;
  font-size: 20px;
  font-weight: 500;
}
main .products-wrapper .box .product-order-details .quantity-buttons button {
  padding: 0 6px;
  font-size: 20px;
  background: #000000;
  color: #ffffff;
}
main .products-wrapper .box .product-order-details .quantity-buttons button:hover {
  background-color: #c70000;
  color: #ffffff;
}
main .products-wrapper .box .product-order-details .product-price {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px 20px;
}
main .products-wrapper .box .product-order-details .product-price .price {
  font-size: 18px;
  color: #000000;
}
main .products-wrapper .box .add-button {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: #c70000;
}
main .products-wrapper .box .add-button:hover {
  background-color: #c70000;
  color: #ffffff;
}

.order-box {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  text-align: right;
  padding: 20px;
  padding-right: 50px;
  margin-bottom: 100px;
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.5s all;
  overflow-y: auto;
}
.order-box.active {
  right: 0;
}
.order-box i {
  font-size: 35px;
  color: #ffffff;
  cursor: pointer;
}
.order-box input {
  padding: 3px;
  border: none;
  padding-left: 5px;
  font-size: 15px;
  margin-bottom: 15px;
}
.order-box .total {
  font-size: 22px;
}
.order-box h3 {
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.order-box .order-btn {
  padding: 5px 30px;
  margin-left: 10px;
  letter-spacing: 3px;
  font-size: 15px;
  margin-bottom: 10px;
}
.order-box .item {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
}
.order-box .item .product-name {
  max-width: 100px;
  margin: 0 10px 5px;
}
.order-box .item .item-photo {
  width: 90px;
  height: 80px;
}
.order-box .item .item-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.order-box .item .product-details {
  text-align: center;
}
.order-box .item .cancel {
  background-color: #c70000;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 15px;
}
.order-box .item .cancel:hover {
  background-color: transparent;
  border: 2px solid #ffffff;
}
.order-box .item .quantity-buttons {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-box .item .quantity-buttons button {
  padding: 3px 5px;
}
.order-box .item .quantity-buttons button:hover {
  background-color: #c70000;
}
.order-box .item .quantity-buttons .quantity {
  margin: 5px;
  font-size: 20px;
}

@media (max-width: 1270px) {
  .menu-desktop {
    display: none;
  }
}
@media (min-width: 1270px) {
  #burger-btn {
    display: none;
  }
}
@media (max-width: 760px) {
  .logo img {
    width: 30px;
  }
  .user {
    width: 100%;
    justify-content: right;
  }
}
@media (max-width: 400px) {
  .login {
    margin-left: 10px;
  }
  .login span {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */